/**
 * @author Shubham Chauhan <sh572302@dal.ca/B00945891>
 */
.topMessageComp{
    height: 100%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
}

.topMessageComp .buttonGridItem{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}