/**
 * @author Shubham Chauhan <sh572302@dal.ca/B00945891>
 */
.queryUserCard.css-1v5z4dq-MuiPaper-root-MuiCard-root {
    width: 100%;
    padding: 0.1rem;
    border-radius: 8px;
    transition: background-color 0.5s;
    text-overflow: clip;
    /* background-color: white; */
  }

.queryUserCard{
    margin: 0% !important;
    width: 100%;
    background-color: rgb(248,241,255) !important;
    border-bottom: 1px solid black !important;
  }
  
.queryUserCard.css-1v5z4dq-MuiPaper-root-MuiCard-root:hover {
    background-color: #D4ADFC;
    transform: scale(1.01);
  }

.queryUserCard.in-sidebar:hover {
    background-color: #D4ADFC !important;
    transform: scale(1.05) !important;
}
  
.queryUserCard.css-1v5z4dq-MuiPaper-root-MuiCard-root.selected-card {
    background-color: rgb(81, 148, 231);
    border-bottom-color: rgb(235, 235, 235);
    border-bottom-style: solid;
    border-bottom-width: 0.8px;
    color: white !important;
    font-weight: 500;
  }

  .queryUserCard.selected-card.in-sidebar {
    background-color: rgb(81, 148, 231) !important;
    border-bottom-color: rgb(235, 235, 235) !important;
    border-bottom-style: solid !important;
    border-bottom-width: 0.8px !important;
    color: white !important;
    font-weight: 500;
}
  
  .queryUserCard.not-clickable {
    pointer-events: none;
    height: 70px;
    /* background-color: #F6F5F5 !important; */
    
  }

  .queryUserCard.css-1v5z4dq-MuiPaper-root-MuiCard-root {
    background-color: rgb(248,241,255);
    border: 0px;
  }

  .queryUserCard.in-sidebar .MuiCardContent-root.css-46bh2p-MuiCardContent-root{
    border-bottom: solid gray 1px;
  }

  