/**
 * @author Amanjot Singh <am854663@dal.ca/B00942293>
 */

/* .email-field {
  width: 100%;
}
.form,
.right-div {
  font-family: "Roboto";
} */

/* .register-box .MuiTextField-root {
  margin: 8px;
  width: 90% !important;
}

.register-box .css-r47a1p-MuiFormControl-root {
  width: 90% !important;
} */
